DB_HOST=db
DB_PORT=5432
DB_NAME=database_name_here
DB_USER=db_user_here
DB_PASSWORD=db_password_here

# Keycloak
KC_DB_USER=keycloak_user
KC_DB_PASSWORD=keycloak_password
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin_password
